@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "inter", sans-serif;
    background-color: #f9f9f9;
}

nav ul {
    display: flex;
    align-items: center;
    padding: 20px 0;
    gap: 32px;
    list-style: none;
}

nav ul a {
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.intro h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.image {
    width: 520px;
}

.form-ctn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
    background-color: #ffffff;
    width: 100%;
    gap: 24px;
}

.p2 {
    font-weight: 600;
    font-size: 16px;
}

.p2 a {
    color: #6b6ff5;
}

.form-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 12px
}

.form-text h2 {
    font-size: 28px;
    font-weight: 600;
}

.p {
    font-size: 16px;
    font-weight: 300px;
    line-height: 24px;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
}

input,
select {
    padding: 12px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    font-size: 14px;
}

label:last-of-type,
.p,
.btn {
    grid-column: span 2;
}

.btn {
    background-color: #6b6ff5;
    padding: 12px;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}